
/*   
  body {
    background-color: rgb(248, 246, 253);
    
  }
  body,
  input,
  textarea,
  button {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
  }
  
  .app {
    width: 400px;
    margin: 0 auto;
    height: 100vh;
  } */
  
  /* Contact.js */
  .formcontact{
      width: 50%;
      margin: 0 auto;
      color: black;
      
  }
  
  
  
  .form {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
  }
  
  .form > h1 {
    margin-bottom: 40px;
    font-weight:bold;
    font-size: 40px;
    color: rgb(2, 2, 110);
  
  }
  .form > input,
  textarea {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: orchid;
    height: 50px;
    resize: none;
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196);
  }
  
  .form > textarea {
    height: 150px;
    max-width: 450px;
    min-height: 100px;
  }
  
  .form > label {
    padding-bottom: 10px;
    color: rgb(2, 2, 120);
    font-weight: bold;
    font-size: 25px;
  }
  
  .form > button {
    padding: 20px;
    border: none;
    background-color: rgb(2, 2, 110);
    font-weight: 800;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    max-width: 100px;
  }
  
  .form > button:hover {
    background-color: rgb(0, 0, 196);
  }